<!DOCTYPE html>
<html lang="en-IE">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <script src="https://kit.fontawesome.com/dd084b05a9.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/frappe-charts@1.2.4/dist/frappe-charts.min.iife.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/blynk-library@0.5.4/dist/blynk.browser.js"></script>
  <!-- firebase SDK stuff -->
  <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-database.js"></script>
<script src="https://cdn.socket.io/4.7.2/socket.io.min.js" integrity="sha384-mZLF4UVrpi/QTWPA7BjNPEnkIfRFn4ZEO3Qt/HFklTJBj/gBOV8G3HcKn4NfQblz" crossorigin="anonymous"></script>



<script>
  const socket = io('http://localhost:4000'); 

  socket.on('open', (event) => {
    console.log('WebSocket connection opened');
  });

  socket.on('initial', (data) => {
    console.log('Received initial data:', data);
    // Handle initial data
  });

  socket.on('update', (data) => {
    console.log('Received real-time update:', data);
    // Handle real-time updates
    
    document.getElementById('temperature').innerText = `Temperature: ${data.temperature}`;
    document.getElementById('humidity').innerText = `Humidity: ${data.humidity}`;
    document.getElementById('airQuality').innerText = `Air Quality: ${data.airQuality}`;
    document.getElementById('ambientLight').innerText = `Ambient Light: ${data.ambientLight}`;
    document.getElementById('moisture').innerText = `Moisture: ${data.moisture}`;
  });

  // Connection closed
  socket.on('close', (event) => {
    console.log('WebSocket connection closed');
  });

  // Disconnect socket when leaving the page
window.addEventListener('beforeunload', () => {
  socket.disconnect();
});
</script>

</head>

<body class="has-background-light">
  <div class="container">
    {{{body}}}
  </div>

</body>

</html>