<!-- Your chart rendering logic here -->
<h1>Your Historical Data</h1>

<div>
  <canvas id="historicalChart"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- Historical data chart script -->
<script src="../public/graph.js"></script>
